.foundCard .card-image img {
    margin-top: -18%;
    margin-left: -10%;
    width: 120%;
}

.card .card-image .card-title.cardName {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .3);
}

.card .card-content a {
    color: #fff;
}

.card .card-content .foundTerm i {
    background-color: red;
}

.toc-wrapper {
    max-width: 172px;
}

.toc-wrapper .wishlist .collection-item {
    padding: 5px;
}
